body {

  text-align: left;
  margin: 0px;
  font-family: Trajan;
  font-size: 2.3vmin;
  background-color: rgb(248, 246, 246);

}

body p {
  margin: 1vh;
}


h1 {
  font-size: 2.5em
}

h2,
h3,
h4 {
  text-align: center;
  font-size: 1.5em
}

h6 {

  margin: 1em;
  font-size: 1.5em;
  color: rgb(39, 39, 39);


}


header {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  padding: 0.5vw;
  font-size: 1em;
  border-bottom: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(255, 70, 70)
}

.logout-button {
  font-size: 0.75em;
  padding: 3px;
  margin: 1vw;
  color: rgb(255, 63, 63)
}



.menu li {
  padding: 0;
  margin-right: 4vw;
  margin-top: 2vh;
  font-size: 1.25em;
  color: rgb(255, 255, 255)
}


#logo {
  width: 15em;
  height: 7em;
  padding-bottom: 1vh;

}

header::after {

 content: "";
 display: table;
 clear: both; 

}

nav {
  float: right;
}

.nav-container ul {

  list-style: none;
}

.nav-container ul li {
  list-style: none;
  display: inline-block;
  padding-top: 1vw;
  font-style: rgb(255, 255, 137)
}

ul.article-block {
  margin: 1vw;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.article-block li {

  border-style: solid;
  border-color: rgb(168, 168, 168);
  border-width: 1px;
}

.articles {
  list-style: none;
  margin-left: 0;
  font-size: 1em;
  text-decoration-color: black;
  background-color: white;
  margin-bottom: 1vw;
  box-shadow: 10px 5px 5px rgb(185, 185, 185);
}

.sort-div {
  margin: 3vw
}

.articles h1 {
  margin: 2vw;
}

.articles p {
  font-size: 1em;
  margin: 1vw;
}



.article {
  font-size: 1.2em;
  background-color: white;
  padding: 1vw;
  box-shadow: 10px 5px 5px rgb(59, 59, 59);
}

.article-block p {

  size: 0.8em;
  margin-left: 2vw;
  color: rgb(57, 59, 59)
}

.comments-block {

  margin: 2em;
  padding: 0;
}

.comments-block li {

  list-style: none;
  font-size: 1.2em;
  background-color: white;
  padding: 1px;
  margin-top: 0.5vh;
  border: solid;
  border-color: rgb(156, 123, 123);
  border-width: 0.3px;
  box-shadow: 10px 5px 5px rgb(185, 185, 185);

}

.comments-block textarea {
  border: solid;
  border-color: black;

}

h5 {
  text-align: center
}

.article-comments div p {

  margin-left: 1vw;
}

.comments-block h1 {

  margin-left: 3vw;
}


.topics-block ul {
  margin: 0;
  padding: 0;
  list-style: none;


}

.topics-block ul h2 {

  list-style: none;
  font-family: inherit;
  color: rgb(36, 2, 2);
  display: inline-block;

}

.topic {
  background-color: rgb(255, 255, 255);
  margin: 0;
  text-align: center;
  font-size: 1.25vw;
  border-block-end: solid;
  border-width: 1px;
  box-shadow: 1px 1px 1px rgb(255, 67, 67);
  margin-bottom: 1em;

}



.vote-button-up {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 255, 88);
  padding: 10px 20px;
  transition: all 0.75s ease;

}

.vote-button-down {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 70, 70);
  padding: 10px 20px;
  transition: all 0.75s ease;

}

.post-comment {
  font-size: 1em;
  margin-left: 3vw;
}

.post-comment textarea {

  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 5vw;
  size: 80vw;
  font-size: 1em;
}

.post-comment button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-div {
  text-align: right;
  margin-right: 3vw;
  box-decoration-break: line;
}

.login-div p {

  font-size: 1em;
  font-style: italic;
  color: grey;
  margin-left: 4vw
}

.login-div h4 {
  text-align: right;
  margin: 0.5rem;
  margin-right: 8vw;
}

.login-div form input {
  margin: 0.5rem;
  padding: 0.25em;
  font-size: 1.5em;
  border: solid;
  border-width: 1px;

}

.login-div button {

  font-size: 1em;
  margin: 1vw;

}

.delete-button {

  float: right;
  color: rgb(218, 73, 73);
  font-size: 1em;
  background-color: white;
}

.sort-div {
  display: inline-flex;
  margin-right: 1vw;
}

.sort-div button {
  margin-left: 1vw;
  font-size: .75em;
}

.profile{
  display: inline-block;
  margin: 3vw;
}
.profile p {
  text-align: center;
  font-size: 2em;
}

.profile h1 {
  text-align: center;
}

.profile img {
  text-align: center;
  height: 40vh;
}